<mat-card>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()">
        <h2>Change Password</h2>
        <mat-error *ngIf="warning"> {{ warning }}</mat-error
        ><br />
        <mat-form-field class="full-width-input">
          <input
            matInput
            placeholder="Please enter your Email"
            name="username"
            required
            autofocus
            [(ngModel)]="user.userName"
          />
          <mat-error>Please provide a valid Email</mat-error> </mat-form-field
        ><br />
        
        <button
          mat-raised-button
          color="accent"
          type="submit"
          [disabled]="sent?true:false"
        >
          <mat-icon >send</mat-icon>
          <span *ngIf="!sent">&nbsp;&nbsp;&nbsp;Send Email</span>
          <span *ngIf="sent">&nbsp;&nbsp;&nbsp;Email has been sent</span>
        </button>
       
      </form>
    </mat-card-content>
  </mat-card>