.testimonial-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: .75fr 1.125fr 1.125fr;

}
h1{
  font-weight: bold;
}
.heading{
  padding-left: 20px;
}
.sideBar{
display: flex;
align-items: center;
justify-content: left;
padding-left: 20px;
}
.inner{
  color: white;
  background: rgb(57, 57, 185);
  padding: 80px;
  border-radius: 10px;
}



.note{
  display: grid;
  gap: 4.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: lightgrey;
  
}
.note:hover{

  background-color: rgb(182, 179, 179);
}

.title{
  display: flex;
align-items: center;
justify-content: left;
padding-left: 15px;

}

.tt{
  width: 2fr;
  padding-right: 200px;
  padding-left: 10px;
  background-color: rgb(57, 57, 185);
color: white;
border-radius: 10px;
}

.buttons{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: right;

  padding: 20px;
}
button{
  background-color: rgb(146, 144, 144);
  border: 10px;
  border-color: black;
}
.grid-col-span-3 {

  grid-column: span 3;
}

.grid-col-span-2 {
  grid-column: span 2;
}
.grid-col-span-1 {
  grid-column: span 1;
}