* {
  margin: 10;
  padding: 100;
}

div {
  margin: 20px;
}

ul {
  list-style-type: none;
  width: 500px;
}

h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}


.page{
 display: grid;
 grid-template-columns: 270px 70%;
}

ul{
  width: auto;
}
li {

  padding: 10px;
  overflow: auto;
  background-color: lightgray;
  align-self: right;
}

li:hover {
  background: #eee;
}

span {
  padding-right: 10px;
}
button {
  background-color: #1261a0;
  color: white;
}

button:hover {
  background-color: #072f5f;
  color: white;
}

.sideBar {
  width: 250px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #2126ad;
  flex-grow: 1;
}