<main class="testimonial-grid">
<div class="heading grid-col-span-3">
  <br>
  <h1>My Notes</h1>
  <hr>
</div>
  


    <div class="sideBar grid-col-span-1">
      <div class="inner">
      <h2>Note details</h2>
      <dl class="row">
        <dt class="col1">Event Title</dt>
        <dd class="col">{{sbTitle}}</dd>
      </dl>
      <dl class="row">
        <dt class="col1">Note Title </dt>
        <dd class="col">{{sbNote}}</dd>
      </dl>
      <dl class="row">
        <dt class="col1">Last edited</dt>
        <dd class="col">{{sbLastEdited}}</dd>
      </dl>
    </div>
    </div>

    <div class="notes grid-col-span-2">
      <div *ngFor="let a of eventssaved" >
        <div class="note" (click) = "updSideBar(a)">
          <div class="title grid-col-span-2"><span class="tt">{{ a.title }}</span></div >
          <div *ngIf="a.note == 'no note found'; else elseBlock" class="buttons grid-col-span-2">
            <button id="note" mat-button routerLink="/note/{{ a.id }}">
              Add to Note
            </button>
          </div>
          <ng-template #elseBlock >
            <div class="buttons grid-col-span-2">
            <span>
              <button id="note" mat-button routerLink="/note/{{ a.id }}">
                Edit Note
              </button>
            </span>
            <span>
              <button id="delete" mat-button (click)="delNote(a.id)">
                Delete Note
              </button>
            </span>
            <span>
              <button mat-button (click)="downloadPDF(a)">Export PDF</button>
            </span>
          </div>
          </ng-template>
        </div>
      </div>
    

</div>
</main>