<div class="page">

    <div class="sideBar">
      <dl class="row">
        <dt class="col1">Event Title</dt>
        <dd class="col">{{sbTitle}}</dd>
      </dl>
      <dl class="row">
        <dt class="col1">Note Title </dt>
        <dd class="col">{{sbNote}}</dd>
      </dl>
      <dl class="row">
        <dt class="col1">Last edited</dt>
        <dd class="col">{{sbLastEdited}}</dd>
      </dl>
    </div>

    <div class="notes">
      <ul *ngFor="let a of eventssaved">
        <li (click) = "updSideBar(a)">
          <h3>{{ a.title }}</h3>
          <div *ngIf="a.note == 'no note found'; else elseBlock">
            <button id="note" mat-button routerLink="/note/{{ a.id }}">
              Add to Note
            </button>
          </div>
          <ng-template #elseBlock>
            <span>
              <button id="note" mat-button routerLink="/note/{{ a.id }}">
                Edit Note
              </button>
            </span>
            <span>
              <button id="delete" mat-button (click)="delNote(a.id)">
                Delete Note
              </button>
            </span>
            <span>
              <button mat-button (click)="downloadPDF(a)">Export PDF</button>
            </span>
          </ng-template>
        </li>
      </ul>
    </div>

</div>
