@use '@angular/material' as mat;
@include mat-core();

$my-primary: mat.define-palette(mat.$lightBlue-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, 200);

$my-primary: mat-pallete($mat-lightBlue,100);
$my-accent: mat-pallete($mat-pink,200);
// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 )
));

@include angular-material-theme($my-theme);