<div class="container col-xxl-8 px-4 py-5">

<body>

    <section id="hero">
      <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
        <h1>Organize your life with Prime Calendar</h1>
        <h2> Prime calendar can help you stay on top of your workload and alleviate stress, improving you mental and physical health.</h2>
        <a routerLink="/register">
          <button type="button" class="btn-get-started">Get Started</button>

      </a>
      <a routerLink="/login">
          <button type="button" class="btn-get-started">Log In</button>

      </a>
        <!-- <a href="#about" class="btn-get-started">Get Started</a> -->
      </div>
    </section>


  </body>
  </div>

