<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="assets/images/landingIMG.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Organize your life with Prime Calendar</h1>
        <p class="lead">
            Prime calendar can help you stay on top of your workload and alleviate stress, improving you mental and physical health.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a routerLink="/register">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Get Started</button>

            </a>
            <a routerLink="/login">
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Log In</button>

            </a>
        </div>
      </div>
    </div>
  </div>
