<ng-template  [ngIf]="valid" [ngIfElse]="loggedOut">
<mat-card>
    <p>{{message}}</p>
<mat-card-content>
   <form (ngSubmit)="onSubmit()">
      <h2>Set new password</h2>
      <br />
      <mat-form-field class="full-width-input">
         <input
         matInput
         type="password"
         placeholder="Password"
         name="password"
         password="password"
         required
         [(ngModel)]="user.password"
         />
         <mat-error>Please provide a valid password</mat-error>
      </mat-form-field
         >
      <br />
      <mat-form-field class="full-width-input">
         <input
         matInput
         type="password"
         placeholder="Confirm Password"
         name="password2"
         [(ngModel)]="password2"
         required
         />
         <mat-error>Please provide a valid password</mat-error>
      </mat-form-field
         >
      <p id="error">{{err}}</p>
      <br />
      <button
         mat-raised-button
         color="accent"
         type="submit"
         [disabled]="sent">
      <span>Reset password</span>
      </button>
      <button mat-raised-button color="primary" type="submit" *ngIf="loading">
         <mat-icon>account_box</mat-icon>
         <span>&nbsp;&nbsp;&nbsp;Processing Request</span>
      </button>
   </form>
</mat-card-content>
<div class="success" *ngIf="sent">
   Password Successfully set. Proceed to<br /><br />
   <a mat-raised-button color="accent" routerLink="/login">
      <mat-icon>login</mat-icon>
      &nbsp;&nbsp;&nbsp;Login
   </a>
</div>
</mat-card>
</ng-template>
<ng-template #loggedOut>
    <mat-card>
        <h1>{{message}}</h1>
        <button mat-raised-button color="primary" *ngIf="!valid" routerLink="/">Home</button>
    </mat-card>
  </ng-template>
