<h1 mat-dialog-title>Event Create</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Event Title</mat-label>
    <input matInput [(ngModel)]="data.eventTitle">
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Start</mat-label>
    <input matInput [(ngModel)]="data.start">
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>End</mat-label>
    <input matInput [(ngModel)]="data.end">
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="data.description">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-select required (change)="set($event)">
        <mat-option value="none">-- None --</mat-option>
        <mat-option value="daily">Daily</mat-option>
        <mat-option value="weekly">Weekly</mat-option>
    </mat-select>
    <mat-label>Recurring</mat-label>
</mat-form-field>
<mat-card-content>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Create</button>
</div>
