
#container{
    display: flex;
    height: 100%;
    width: 100%;
    overflow:hidden
}
.sidebar{
    color: white;
    height: 100%;  
    flex: 1; 
    background-color: #d677a5;
    border-right: 2px solid #c5cae9;
} 
.cal{
    flex:4;
    overflow: scroll;
}

#day{
font-size: 35px;
padding-top: 30px;
padding-left: 20px;
}

#date{
    font-size: 35px;
    padding-left: 40px;
    padding-bottom: 20px;
}

#eventtext{
    padding-left: 40px;
}

.time{
    list-style-type: none;
}

.des{
    list-style-type: none;
}