<mat-toolbar class="navbar" color="primary">
  <a class="navbar-brand" matTooltip="Home" routerLink="/calendar">
    <h1>Prime Calendar</h1>
  </a>
<div>
  <span class="linkContain">
    <a class="navLinks" matTooltip="Home" routerLink="/calendar">
      My Schedule</a
    >
    <a class="navLinks" matTooltip="Home" routerLink="/mynotes"> My Notes</a>
  </span>

  <button mat-button [matMenuTriggerFor]="userMenu" *ngIf="token">
    <mat-icon>person</mat-icon>
    <span fxShow fxHide.xs>
      {{ token.userName }}
    </span>
  </button>

  <mat-menu
    #userMenu="matMenu"
    xPosition="before"
    yPosition="above"
    [overlapTrigger]="false"
  >
    <a mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Log out</span>
    </a>
  </mat-menu>
</div>
</mat-toolbar>

<div id="app">
  <router-outlet></router-outlet>
</div>


<!-- TODO: footer -->
