<div class="navbar-container">
<mat-toolbar class="navbar" color="primary">
  <button mat-icon-button (click)="snav.toggle()" *ngIf="token">
    <mat-icon>menu</mat-icon>
  </button>

  <a class="navbar-brand" matTooltip="Home" routerLink="/calendar">
    <h1>Prime Calendar</h1>
  </a>

  <span class="navbar-spacer"></span>

  <button mat-button [matMenuTriggerFor]="userMenu" *ngIf="token">
    <mat-icon>person</mat-icon>
    <span fxShow fxHide.xs>
      {{ token.userName }}
    </span>
  </button>

  <mat-menu
    #userMenu="matMenu"
    xPosition="before"
    yPosition="above"
    [overlapTrigger]="false"
  >
    <a mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Log out</span>
    </a>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container>   
  
  <mat-sidenav #snav [opened]="token&&snav.opened" [mode]="'side'" [fixedInViewport]="true" fixedTopGap="56">

    <mat-nav-list>
      <a mat-list-item routerLink="/calendar">
        <p mat-line> My Schedule </p>
      </a>

      <a mat-list-item routerLink="/mynotes" routerLinkActive="active">

        <p mat-line> My Notes </p>
      </a>

      <mat-divider></mat-divider>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
      
  <!-- Main content -->
  <router-outlet></router-outlet>
  <!-- ------------ -->
  
</mat-sidenav-content>
</mat-sidenav-container>
</div>
<!-- TODO: footer -->
